annotated-doc
annotated-types
anyio
asgiref
certifi
cffi
charset-normalizer
click
cloudinary
cryptography
distro
dj-database-url
Django
django-ckeditor-5
django-cloudinary-storage
django-js-asset
django-smart-selects
google-auth
google-genai
gunicorn
h11
httpcore
httpx
idna
Jinja2
jiter
joblib
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
openai
packaging
pillow
psycopg
psycopg-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
python-decouple
python-dotenv
PyYAML
requests
rich
scikit-learn
scipy
setuptools
shellingham
six
sniffio
sqlparse
tenacity
threadpoolctl
tqdm
typer
typing-inspection
typing_extensions
urllib3
websockets
whitenoise